@font-face {
    font-family: montserrat;
    font-weight: normal;
    src: url(fonts/montserrat/regular.otf);
}

@font-face {
    font-family: montserrat-light;
    font-weight: normal;
    src: url(fonts/montserrat/light.otf);
}

@font-face {
    font-family: montserrat-bold;
    font-weight: normal;
    src: url(fonts/montserrat/bold.otf);
}

/* page layout */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

html {
  font-size: 14px;
  font-family: montserrat-light, sans-serif;
  letter-spacing: 0.01em;
  color: #4d4d4d;
  -webkit-font-smoothing: antialiased;
}

body > header {
  width: 100%;
  padding: 2rem 2rem 0.2rem 2rem;
  background: #f97b73;
  color: white;
}

body > header > a {
  display: none;
}

body > section {
  margin: 0 2rem;
  max-width: 35rem;
}

body {
  margin-bottom: 8rem;
}

body.splash > header {
  background: none;
  color: inherit;
}

body.splash p {
  line-height: 1.2em;
  font-family: montserrat;
}

a {
  text-decoration: none;
  color: #f97b73;
  border-bottom: 0.15em solid;
}

h1,h2,h3 {
  font-family: montserrat-bold, sans-serif;
  margin: 1.2em 0 0 -0.07em;
}

h1 {
  margin: 0.5em 0 -0.14em -0.07em;
  font-size: 4em;
}

h2 {
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 0.5em;
  color: #f97b73;
}

h3 {
  font-size: 1em;
}

h3 + p, dt {
  font-family: montserrat-bold, sans-serif;
  font-weight: bold;
}

p, ul, dl {
  line-height: 1.4em;
}

aside, aside p {
  line-height: 1.2em;
}

p + p, aside + p {
  margin-top: 0.5em;
}

aside {
  font-size: 0.8rem;
  font-style: italic;
}

/* lists */
ul {list-style: none;
    padding: 0;
}
ul li {
  display: inline-block;
}

ul li:after,
ul li::after {
  content: " //";
  color: #f97b73;
}

ul li:last-child::after {
  content: none;
}

dl {
  position: relative;
}

dd {
  margin-left: 2rem;
}

dt {
  position: absolute;
  color: #f97b73;
}

/* media */
@media print, screen and (min-width:768px) {
  html {
    font-size: 18px;
  }

  body > header {
    padding: 8rem 2rem 0.2rem 14rem;
  }

  body > section {
    margin-left: 14rem;
  }

  aside {
    text-align: right;
    width: 12rem;
    position: relative;
    float: left;
    margin-left: -12rem;
    top: -2.5rem;
    padding-right: 2rem;
    color: #f97b73;
  }
}

@media screen and (max-width:767px) {
  aside {
    margin-top: 0.5rem;
    border-left: 3px solid #f97b73;
    margin-left: 0.5rem;
    padding-left: 0.5rem;
  }

  dd + aside {
    margin-left: 2rem;
  }
}

@media print {
  html {
    font-size: 10px;
  }

  a {
    border: none;
  }

  body {
    margin-bottom: 0rem;
  }

  aside {
    font-size: 0.9rem;
  }

  body > header {
    padding-top: 0;
    color: #f97b73;
    background: white;
    padding-bottom: 0.8em;
  }

  body > header > h1 {
    margin-top: 0;
  }

  body > header > a {
    display: inline;
  }

  body > header > p {
    display: none;
  }
}
